.form-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  border-radius: 15px;
  border: 2px solid #0f435f;
  width: 40%;
  padding: 30px;
}

.center_button {
  display: flex;
  justify-content: center;
}
